<html lang="en" ng-app>

<head>
	<title>Triage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>
	<script>
	var qs = (function(a) {
	    if (a == "") return {};
	    var b = {};
	    for (var i = 0; i < a.length; ++i)
	    {
	        var p=a[i].split('=');
	        if (p.length != 2) continue;
	        b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
	    }
	    return b;
	})(window.location.search.substr(1).split('&'));

	function TriageCtl($scope, $http, $location, $q) {

		var projects = qs['projects'].split(',');
		var sinceDate = new Date();
		sinceDate.setDate(sinceDate.getDate() - (qs['days_ago'] || 7));
		var dateStr = (sinceDate.getMonth()+1)+"/"+sinceDate.getDate()+"/"+sinceDate.getFullYear();

		function apiCall(project, path, params, callback) {
			return $http.jsonp('http://xml2json.heroku.com?url='+encodeURIComponent('https://www.pivotaltracker.com/services/v3/projects/'+project+path+'?token='+qs['api_key']+'&'+params)+'&callback=JSON_CALLBACK').success(callback);
		}

		function sortStory(story) {
			return story.current_state;
		}

		function addStoriesToObj(obj, iterations) {
			 _.each(iterations, function(iteration){
			    _.each(iteration.stories, function(story) {
			    	if(null == obj[story.owned_by]) {
			    		obj[story.owned_by] = {};
			    		obj[story.owned_by].name = story.owned_by;
			    		obj[story.owned_by].stories = new Array();
			    	}

			    	if(story.current_state != 'accepted') {
			    		obj[story.owned_by].stories.push(story);
			    	}
			    });
			});
		}

		$scope.currentByUser = {};
 		$scope.recentlyScheduled = new Array();

 		var scheduledStoryCalls = new Array();

		_.each(projects, function(project) {

			//current work
			scheduledStoryCalls.push(apiCall(project, '/iterations/current', '', function(data) {
				addStoriesToObj($scope.currentByUser, data.iterations);
			}));

			//backlog work
			scheduledStoryCalls.push(apiCall(project, '/iterations/current_backlog', 'limit=3&offset=1', function(data) {
				addStoriesToObj($scope.currentByUser, data.iterations);
			}));

			//recently scheduled stories
			apiCall(project, '/stories', 'filter=state:unscheduled%20created_since:'+dateStr, function(data) {
			   $scope.recentlyScheduled = $scope.recentlyScheduled.concat(data.stories);		 
			});

		});

		$q.all(scheduledStoryCalls).then(function(data){
			_.each($scope.currentByUser, function(u){
		    	u.stories = _.sortBy(u.stories, sortStory);
		    	u.points  = _.reduce(u.stories, function(sum, story){ return sum + (story.estimate||0); }, 0);
		    });
		    $scope.currentByUser = _.sortBy( $scope.currentByUser, function(u) {return -1 * u.stories.length});
		})
	}
	</script>
	<style type="text/css">
		body {font-size: small; }
		.person { float: left; width: 150px; overflow: scroll; padding-right: .5em;}
		.person ol {padding: 0; list-style-type: none;}
		.person li {padding: .25em;}
		.accepted { 
			background-color: #daebcf;
			border-top: 1px solid #eefce2;
			border-bottom: 1px solid #c3d5b4;
		}
		.delivered, .finished {
			background-color: #f3f3d1;
			border-bottom: 1px solid #dbdbb0;
		}
		.unstarted {
			background-color: #eeeeee;
			border-bottom: 1px solid #C0C0C0;
		}
		.started {
			border-bottom: 1px solid #eeeeee;
		}
	</style>
</head>

<body ng-controller="TriageCtl">
	<h1>Bug Triage!</h1>
	<div>
		<h2>Recently Logged Stories</h2>
		<ul>
			<li ng-repeat="story in recentlyScheduled">
				<span>{{story.requested_by}}</span>: <a href="{{story.url}}" title="{{story.description}}" target="_blank">{{story.name}}</a> ({{story.owned_by}})
			</li>
		</ul>
	</div>
	<div>
		<h2>Current Work</h2>
	    <div class="person" ng-repeat="user in currentByUser">
	      <h3>{{user.name}} <span title="{{user.points}} points">({{user.stories.length}})</span></h3>
	      <ol class="stories">
	      	<li ng-repeat="story in user.stories" class="{{story.current_state}} {{story.story_type}}">
	      		<a href="{{story.url}}" title="{{story.description}}" target="_blank">{{story.name}}</a>
	      	</li>
	      </ol>
	    </div>
	  </div>
</body>

</html>